.App {
  text-align: center;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
  position: fixed;
  left: 5px;
  top: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-link {
  color: #61dafb;
}

